/* Layout */ 

html {
    font-family:'Lato';
    color:$white;
}

html, body {
    height:100%;
    background-color:$primary-color;
}

ul {
    list-style:none;
    margin: 5px 0;
    font-size:1rem;
}

/* Font */ 

a {
    color:$white;
    text-decoration:none;
    &:hover {
        color:$white;
    }
}

h1 {
    font-size:1.2rem;
    text-align:center;
    font-weight:300;
}

h3 {
    margin-top:10px;
}

/* Structure */ 

.container {
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.side-container {
    display:flex;
    flex:1;
    flex-direction:column;
}

.top-level-elements {
    margin-bottom:10px;
    display:flex;
    flex-direction:column;
    input {
        padding: 8px;
        border: none;
        background-color: $fourth-color;
    }
    select {
        width: 200px;
        padding: 8px;
        border:none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(../images/down.png) 96%/15% no-repeat $fourth-color;
        background-size:17px;
    }
}

#left-side, #right-side {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    padding: 20px;
    box-sizing:border-box;
    min-height:300px;
}

#left-side {
    background-color:$tertiary-color;
}

#right-side {
    background-color:$secondary-color;
}

#main-left-side, #main-right-side {
    max-width:490px;
    ul {
        padding-left:0;
    }
}

.player-count {
    width:200px;
}

.left-full-team-msg, .right-full-team-msg {
    width:200px;
    color:$red;
    display:none;
}

/* Footer */ 
footer {
    background-color: $primary-color;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    color:$darker-white;
    a {
        color:$darker-white;
    }
    .site-link {
        color:white;
    }
}
 
/* Tool tip */

.tooltip {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
    font-size: 0.9rem;
    background-color: $primary-color;
    color: $darker-white;
    padding: 8px 10px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: $tertiary-color;
    color: #fff;
    padding: 16px;
    border-radius: 6px;
    position: absolute;
    right:0;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  @media (min-width:0px) and (max-width:600px) {

  }